<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thyemeleaf/layout"
    layout:decorate=~{layout}>

<head>
    <title>Pokédex</title>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-radar.min.js"></script>
</head>

<body layout:fragment="body">
    <div class="container mt-5">
        <a href="/pokedex/todos" class="btn btn-secondary mb-3">← Volver a la Pokédex</a>

        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h2 class="text-capitalize" th:text="${pokemon.name}">Nombre</h2>
                <div class="container">
                    <div class="row row-cols-2">
                        <div class="row justify-content-center">
                            <span>Forma natural</span>
                            <img class="pokemon-img mb-3" th:src="${pokemon.sprites.frontDefault}"
                                alt="Imagen Pokémon por deafault">
                        </div>
                        <div class="row justify-content-center">
                            <span>Forma Shiny</span>
                            <img class="pokemon-img mb-3" th:src="${pokemon.sprites.frontShiny}"
                                alt="Imagen Pokémon Shiny">
                        </div>
                    </div>
                </div>

                <!-- Animacion del pokemon -->
                <div class="container">
                    <div class="row row-cols-2">
                        <div class="row justify-content-center">
                            <span>Forma natural</span>
                            <img class="pokemon-shiny-img mb-3" th:src="${pokemon.sprites.other.showdown.frontDefault}"
                                alt="Imagen Pokémon por deafault">
                        </div>
                        <div class="row justify-content-center">
                            <span>Forma Shiny</span>
                            <img class="pokemon-shiny-img mb-3" th:src="${pokemon.sprites.other.showdown.frontShiny}"
                                alt="Imagen Pokémon Shiny">
                        </div>
                    </div>
                </div>
                <h5 class="text-muted">#<span th:text="${pokemon.id}">001</span></h5>

                <img th:if="${isDefault == false}"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/512px-Pok%C3%A9_Ball_icon.svg.png"
                    alt="Es inicial" width="50px" height="50px">

                <div class="mt-3">
                    <h4>Experiencia por victoria
                        <span th:text="${pokemon.baseExperience}"></span>
                    </h4>

                    <!-- Tipos del pokemon -->
                    <span th:text="${pokemon.types.size() > 1 ? 'Tipos:' : 'Tipo:'}"></span>
                    <br><br>
                    <!-- <span th:each="t : ${pokemon.types}" class="badge bg-primary type-badge"
                        th:text="${t.type.name}">tipo</span> -->

                    <span th:each="typeSlot : ${pokemon.types}" class="badge bg-secondary me-1">
                        <img th:src="${typeSlot.typeIconUrl}" style="height: 20px;" alt="icono tipo" />
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Estadisticas -->
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <div class="container">
                    <h3>Estadísticas:</h3>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="stat : ${pokemon.stats}">
                            <span th:text="${stat.stat.name}">Nombre Stat</span>:
                            <strong th:text="${stat.baseStat}">Valor</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Gráfico de Radar -->
    <div class="d-flex justify-content-center">
        <canvas id="radarChart" style="max-width: 600px; max-height: 600px;"></canvas>
    </div>

    <!-- Evoluciones -->
    <div class="container mt-5">
        <h1>Evoluciones</h1>
        <div class="row row-cols-2 row-cols-lg-5 g-2">
            <div class="col" th:each="evolucion : ${evoluciones}">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h2 class="text-capitalize" th:text="${evolucion.nombre}">Nombre</h2>
                        <img class="pokemon-img mb-3" th:src="${evolucion.imagen}" alt="Imagen evolución" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mega Evoluciones -->
    <div class="container mt-5">
        <h1>Mega Evoluciones</h1>
        <div class="row row-cols-2 row-cols-lg-5 g-2">
            <div class="col" th:each="mega : ${megas}">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h2 class="text-capitalize" th:text="${mega.nombre}">Nombre</h2>
                        <img class="pokemon-img mb-3" th:src="${mega.imagen}" alt="Mega evolución" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /* Construir array labels */
        const labels = [
        /*[# th:each="stat : ${pokemon.stats}" ]*/
            /*[[${stat.stat.name}]]*/'',
            /*[/]*/
        ].filter(label => label !== '');

        /* Construir array dataValues */
        const dataValues = [
        /*[# th:each="stat : ${pokemon.stats}" ]*/
            /*[[${stat.baseStat}]]*/0,
            /*[/]*/
        ];

        const data = {
            labels: labels,
            datasets: [{
                label: 'Stats de ' + /*[[${pokemon.name}]]*/,
                data: dataValues,
                fill: true,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgb(54, 162, 235)',
                pointBackgroundColor: 'rgb(54, 162, 235)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(54, 162, 235)'
            }]
        };

        const config = {
            type: 'radar',
            data: data,
            options: {
                scales: {
                    r: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top'
                    },
                    title: {
                        display: true,
                        text: 'Radar de estadísticas Pokémon'
                    }
                }
            },
        };

        const ctx = document.getElementById('radarChart').getContext('2d');
        new Chart(ctx, config);
    </script>

    <style>
        .pokemon-img {
            width: 300px;
            height: 300px;
            object-fit: contain;
        }

        .pokemon-shiny-img {
            width: 200px;
            height: 200px;
            object-fit: contain;
        }

        .type-badge {
            margin: 0 5px;
            text-transform: capitalize;
        }
    </style>
</body>

</html>